.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.btn {
    border: none;
    padding: .8rem;
}

.btn:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn--white {
    background-color: #fff;
    border: .1em solid;
    color: #777;
}

.table {
    width: 100%;
}